.pocketvim-options {
  font: 14px "DejaVu Sans", "Arial", sans-serif;
  color: #303942;
  width: 680px;
  margin: 0 auto;

  a, a:visited { color: #15c; }
  a:active { color: #052577; }
  div#wrapper { width: 500px; }
}
